<div *ngIf="auth.user$ | async; then authenticated else guest"></div>

<ng-template #guest>
    <body class="center">

        <h1 style="font-size:40px" class="top">AZ-Hack Name</h1>
        <br>
        <br>

        <p style="font-size: 20px">This Hackathons No.1 rated Carbon emissions tracking app</p>
        <br> 

        <br>
        <p> ENTER NAME HERE is an app to help you and you co-workers to keep track of your carbon emissions. You can view how your carbon footprint is affected by the lifestyle choices you make, and compare you footprint with your friends and colleagues</p>
        <p> We aim to make us more awear of our effect on this planet and the steps we can make to reduce our impact</p>
        <p> Using ENTER NAME HERE you can enter aspects about your day to receive a carbon footprint raiting visible to you and you contantacts through our leaderboard. </p>
    </body>
    <br>



    <button button  style="width: 15%; height: 20%; border-radius: 8px;
    margin-left: 42.5%; font-size: 40px;"(click)="auth.googleSignin()">Login</button>
</ng-template>





<ng-template #authenticated>
    <div *ngIf="auth.user$ | async as user" class="center">
        <h1 style="font-size:40px; margin-top: 8%;" class="top">Welcome {{user.displayName}}!</h1>
        <h1 style="margin-top: 5%"> Enter your daily usage here</h1>
        <button class="buttons" (click)="goToPage('meals')">Meals</button>
        <button class="buttons" (click)="goToPage('travel')">Travel</button>
        <button class="buttons" (click)="goToPage('elec')">Electronics</button>
        <button class="buttons" (click)="goToPage('recycling')">Recycling</button>
    </div>
</ng-template>


