<div *ngIf="auth.user$ | async; then authenticated else guest"></div>

<ng-template #guest>
    <body class="center">

        <h1 style="font-size:40px" class="top">🌳 Carbon Contest 🌳</h1>
        <br>
        <br>

        <p style="font-size: 20px">🌲 This Hackathons No.1* rated Carbon emissions tracking competition app 🌲</p>
        <br> 

        <br>
        <p style="margin-left: 10%; margin-right: 10%;"> <b>Carbon Contest</b> is an app to help you and you co-workers to keep track of your carbon emissions.
            Using <b>Carbon Contest</b> you can enter aspects of your lifestyle daily to receive a carbon footprint score, visible to you and you contacts through our leaderboard.
            We aim to promote awareness of choices have on our carbon footprint, and encourage small decisions daily that can reduce our impact.
            </p>

            <button button  style="width: 10%; height: 15%; margin-left: 45%; margin-right: 45%; font-size: 30px; background-color: lightgreen; margin-top: 20px;"
            (click)="auth.googleSignin()">Login</button>
    </body>
    <br>
</ng-template>


<ng-template #authenticated>
    <div *ngIf="auth.user$ | async as user" class="center" style="margin-left: 10%; margin-right: 10%;">
        <h1 style="font-size:40px; margin-top: 4%;" class="top">Welcome {{user.displayName}}!</h1>
        <h1 style="margin-top: 5%"> Enter your daily usage here 
        <div *ngIf=!submitted>🌱🌱🌱🌱🌱</div><div *ngIf=submitted>🎄🎄🎄🎄🎄</div></h1>
        <!-- <button class="buttons" (click)="goToPage('meals')">Meals</button>
        <button class="buttons" (click)="goToPage('travel')">Travel</button>
        <button class="buttons" (click)="goToPage('elec')">Electronics</button>
        <button class="buttons" (click)="goToPage('recycling')">Recycling</button> -->
        <div id="form-columns">
            <mat-card id="diet" style="background-color: lightgreen;">
                <h2>Diet</h2>
                <mat-select [(value)]="selected">
                    <mat-option value="Meat">Meat</mat-option>
                    <mat-option value="Vegan">Vegan</mat-option>
                    <mat-option value="Vegetarian">Vegetarian</mat-option>
                    <mat-option value="Pescatarian">Pescatarian</mat-option>
                </mat-select>
            </mat-card>
            <mat-card id="travel" style="background-color: lightgreen;">
                <h2>Travel</h2>
                <h3>Car use</h3>
                <mat-slider thumbLabel [(ngModel)]="car" [displayWith]="formatLabel" (change)="onChange($event)"
                    [value]="profile?.car_travel_default" tickInterval="1" min="0" max="8"></mat-slider>
                <h3>Bus use</h3>
                <mat-slider thumbLabel [(ngModel)]="bus" [displayWith]="formatLabel" (change)="onChange($event)"
                    [value]="profile?.bus_travel_default" tickInterval="1" min="0" max="8"></mat-slider>
                <h3>Train use</h3>
                <mat-slider thumbLabel [(ngModel)]="train" [displayWith]="formatLabel" (change)="onChange($event)"
                    [value]="profile?.train_travel_default" tickInterval="1" min="0" max="8"></mat-slider>
            </mat-card>
    
            <mat-card id="recycling" style="background-color: lightgreen;">
                <h2>Recycling</h2>
                <div id="rec-container">
                    <mat-list role="list">
                        <mat-list-item role="listitem"><mat-checkbox labelPosition='before' [(ngModel)]="food" [checked]="profile?.food_disposal_default">Food</mat-checkbox></mat-list-item>
                        <mat-list-item role="listitem"><mat-checkbox labelPosition='before' [(ngModel)]="metal" [checked]="profile?.tin_disposal_default">Metals</mat-checkbox></mat-list-item>
                        <mat-list-item role="listitem"><mat-checkbox labelPosition='before' [(ngModel)]="plastic" [checked]="profile?.plastic_disposal_default">Plastic</mat-checkbox></mat-list-item>
                        <mat-list-item role="listitem"><mat-checkbox labelPosition='before' [(ngModel)]="glass" [checked]="profile?.glass_disposal_default">Glass</mat-checkbox></mat-list-item>
                        <mat-list-item role="listitem"><mat-checkbox labelPosition='before' [(ngModel)]="paper" [checked]="profile?.paper_disposal_default">Paper</mat-checkbox></mat-list-item>
                    </mat-list>
                </div>
            </mat-card>
    
            <mat-card id="tech" style="background-color: lightgreen;">
                <h2>Tech Use</h2>
                <h3>Phone</h3>
                <mat-slider thumbLabel [(ngModel)]="phone" [displayWith]="formatLabel" (change)="onChange($event)"
                    [value]="profile?.mobile_screentime_default" tickInterval="1" min="0" max="8"></mat-slider>
                <h3>Laptop</h3>
                <mat-slider thumbLabel [(ngModel)]="laptop" [displayWith]="formatLabel" (change)="onChange($event)"
                    [value]="profile?.computer_screetime_default" tickInterval="1" min="0" max="8"></mat-slider>
                <h3>TV</h3>
                <mat-slider thumbLabel [(ngModel)]="tv" [displayWith]="formatLabel" (change)="onChange($event)"
                    [value]="profile?.tv_screentime_default" tickInterval="1" min="0" max="8"></mat-slider>
            </mat-card>
        </div>
    
        <div id="submit-changes" *ngIf="edited && !submitted">
            <h1 style="color: orangered;"><b>Make sure to save changes!</b></h1>
            <button style="background-color: lightsalmon;" mat-raised-button (click)="submitForm()">Submit</button>
        </div>
    </div>
    <div style="width: 40%; margin-left: 30%; margin-right: 30%; text-align: center; margin-top: 40px;">
        <h2>Part of a team? Check your ranking here!</h2>
        <button mat-raised-button style="background-color: lightgreen;" (click)="goToLeaderboard()">Leaderboard</button>
    </div>
</ng-template>


