table {
    margin-top: 1rem;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}

mat-form-field {
    margin-top: 1rem;
    margin-left: 5%;
    margin-right: 75%;
    width: 20%;
}

th.mat-sort-header-sorted {
color: black;
}