<mat-toolbar color="primary">
  <span [routerLink]="['/']">AZ Hack</span>
  <span class="spacer"></span>
  <div *ngIf="auth.user$ | async; then authenticated else guest"></div>
</mat-toolbar>

<!-- User NOT logged in -->
<ng-template #guest>
  <button mat-raised-button color="accent" (click)="auth.googleSignin()">
    <i class="fa fa-google"></i>Login</button>
</ng-template>


<!-- User logged in -->
<ng-template #authenticated>
  <div *ngIf="auth.user$ | async as user">
    <span class="spacer"></span>
    <button mat-mini-fab color="accent" style="background-position: center; background-size: contain;" [ngStyle]="{ 'background-image': 'url(' + user.photoURL + ')'}" [matMenuTriggerFor]="beforeMenu">
      <!-- <img [src]="user.photoURL" alt=""> -->
    </button>
  </div>
</ng-template>

<mat-menu #beforeMenu="matMenu" xPosition="before">
  <button mat-menu-item [routerLink]="['/myProfile']">My Profile</button>
  <button mat-menu-item [routerLink]="['/myProfile']">My Team</button>
  <button mat-menu-item (click)="auth.signOut()">Sign Out</button>
</mat-menu>

<!-- (click)="auth.signOut()" -->