.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
  }

  main {
    display: grid;
    height: 100%;
    grid-template-rows: auto 1fr auto;
  }

  
  footer {
    padding: 2rem;
    text-align: center;
  }