#container {
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
}

#image {
    position: relative;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
}
#name-card {
    display: flex;
    align-content: space-between;
}

#text-stuff {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-left: 2rem;
}

#form-columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;

    mat-slider {
        width: 25rem;
    }
    #recycling {
        #top {
            display: flex;
            margin-bottom: 2rem;
        }
        #bot {
            display: flex;
        }
    }
    #rec-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

#submit-changes {
    padding-top: 2rem;
    margin: auto;
    text-align: center;
}

@media only screen and (max-width: 768px) {

    #form-columns {
        flex-direction: column;
        mat-card {
            margin-top: 1rem;
        }
    }
}
